html {
    /* user-select: none; */
    width: 100%;
    height: 100%;
    font-family: Courier New, monospace;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    color: #FFFFFF;
    width: 100%;
    position: relative;
    top: -27px;
    background-color: #630c0c;  /*Vert*/
}

header {
    z-index: 1;
    width: 100%;
    position: relative;
    top: 0;
    background-color: #4b0000;  /*Vert*/    /*#0c720c*/
    border: none;
    text-align: center;
    position: sticky;
    top: 0;
}

header h1 {
    font-size: 40px;
}

header p:hover {
    text-decoration: underline;
    font-weight: bold;
}

/*bouton recherche*/
#recherche {
    color: #FFFFFF; /*Vert*/
    background-color: #a80000;  /*Vert*/
    border: solid 1px #FFFFFF;  /*Vert*/
}

#boutonRecherche {
    color: #FFFFFF; /*Vert*/
    background-color: #a80000;  /*Vert*/
    border: solid 1px #FFFFFF;  /*Vert*/
    border-radius: 2px;
}

#boutonRecherche:hover {
    color: #FFFFFF; /*Vert*/
    background-color: #530000;  /*Vert*/
    border: solid 1px #FFFFFF;  /*Vert*/
    border-radius: 2px;
}

/* MENU couleur */

.menuHaut {
    background-color: #330505;  /*Vert*/
}

nav a{
    color: #FFFFFF; /*Vert*/
}

nav a:hover{
    font-weight: bold;
    color: #ce1d1d; /*Vert*/
    border-bottom: 2px solid #FFFFFF;   /*Vert*/
}


/****************/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #4b0000;  /*Vert*/
    border: none;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    clear:both;
}

footer form {
    text-align: right;
    margin-right: 1%;
}
