.milieu {
    display: inline-block;
    width: 80%;
}

/********************************/
.menuHaut {
    z-index: 1;
    width: 100%;
    margin: 0px auto 40px auto;
}

nav ul{
    list-style-type: none;
}

nav li{
    float: left;
    width: 50%;
    text-align: center;
}

/*Evite que le menu n'ait une hauteur nulle*/
nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    border-bottom: 2px solid transparent;   /*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;  /*Agrandit le menu et espace la bordure du texte*/
}

/********************************/
/* Nav pour le choix de l'admin */

.choixAdmin {
    width: 60%;
    margin-left: 20%;
}

.choixAdmin li {
    margin: 1%;
    width: calc(94% / 3);
    padding: 2%;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 1px #FFFFFF;  /*Vert*/
    background-color: #0b81b8;  /*Vert*/
    border-radius: 25px 25px 0 0px;
}

.choixAdmin li:hover {
    background-color: #0b81b8;  /*Vert*/
    font-size: large;
    font-weight: bold;
}


/********************************/
/* Désactiver affichage des choix admin */
#ajouterJeu {
    display: none;
}

#modifierJeu {
    display: none;
}

#supprimerJeu {
    display: none;
}


/********************************
.listeJeuxExemple {
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;

    border-radius: 30px;
    margin-top: 3%;
    margin-bottom: 3%;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    overflow: auto;
}

.jeuExemple {
    width: 80%;
    margin: 5%;
}

.jeuExemple summary {
    width: 100%;
    position: relative;
    list-style: none;
}

.jeuExemple summary:after {
    content: "\0025BC"; /* ▼ *
    color: #000000;
    position: relative;
    transform-origin: center;
    transition: 200ms linear;
}

details[open] summary:after {
    content: "\0025B2"; /* ▲ *
}

.jeuExemple summary p {
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid 1px #000000;
    border-bottom: solid 1px #000000;
}

.jeuExemple summary {
    border: solid 1px #000000;
}

.jeuExemple .descriptionJeuExemple {
    width: 100%;
    text-align: left;

    margin-top: 0px;    
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
    border-bottom: solid 1px #000000;
}

.imageJeuExemple {
    width: 100%;
    height: auto;
}

.note {
    float: right;
    margin-right: 2%;
}
*/

.milieu fieldset {
    width: 80%;
    border-radius: 30px;
    text-align: center;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #0b81b8;  /*Vert*/
    border: solid 1px #FFFFFF;  /*Vert*/
}

/* Formulaire */

.messageErreur {
    font-weight: bold;
    text-decoration: underline;
    color: #0b81b8; /*Vert*/
}

/* Ajout jeu */
#description {
    resize: vertical;
}

/* Les différents éléments pour l'ajout d'un jeu */

.sousligneGras {
    text-decoration: underline;
    font-weight: bold;
}

#titreAjoutJeu {
    color: #FFFFFF; /*Vert*/
    background-color: #0b81b8;  /*Vert*/
}
/*
.choixGenre input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 15px;
    width: 15px;
    margin:0px;
    position: relative;
    color: #FFFFFF; /*Vert
    background-color: #00a800;  /*Vert
}

.choixGenre input[type="checkbox"]:checked {
    margin:0px;
    position: relative;
    background-color: #00a800;  /*Vert
}
*/
.choixGenre input[type="checkbox"], .choixPlateforme input[type="checkbox"] {
    display:none;
}

.choixGenre input[type="checkbox"] + label:before, .choixPlateforme input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #0b81b8;
    border-radius: 12px;
    margin-right: 1%;
}

.choixGenre input[type="checkbox"]:checked + label:before, .choixPlateforme input[type="checkbox"]:checked + label:before {
    background: #0b81b8;
}

#description {
    color: #FFFFFF; /*Vert*/
    background-color: #0b81b8;  /*Vert*/
}
/**********/
/* Aperçu */
.tdImageAperçu {
    width: 30%;
    height: auto;
    text-align: left;
    vertical-align: top;
}

#imageAperçu {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 1px #FFFFFF;  /*Vert*/
}

.infoJeuAperçu {
    text-align: left;
    white-space: pre;
    text-align: left;
    vertical-align: top;
    padding-left: 2%;
}

#ajouterJeu {
    height: auto;
}

.nomJeuAperçu, .genresJeuAperçu, .plateformesJeuAperçu, .descriptionJeuAperçu {
    text-align: left;
}

.descriptionJeuAperçu {
    white-space: normal;
    width: 80%;
}

/* Modifier jeu - supprimer jeu */

/*Modifier jeu */
.divImageJeuModif {
    width: 50px;
    height: 50px;
}

.imageJeuModif {
    width: 80px;
    height: auto;
}

.imageJeuModifApercu {
    width: 110px;
    height: auto;
    border: solid 1px #FFFFFF;  /*Vert*/
}


.tabJeu {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

.tabJeu th, .tabJeu td {
    width: auto;
    border: solid 1px #FFFFFF;  /*Vert*/
}

.tabJeu {
    border-collapse: collapse;
}

.tabJeu thead {
    background-color: #0b81b8;  /*Vert*/
}

.nouveauNom {
    color: #FFFFFF; /*Vert*/
    background-color: #0b81b8;  /*Vert*/
    border: solid 1px #FFFFFF;  /*Vert*/
}

.nouveauNom:hover {
    color: #FFFFFF; /*Vert*/
    background-color: #0b81b8;  /*Vert*/
    border: solid 1px #FFFFFF;  /*Vert*/
}

.genres p, .plateformes p {
    text-align: center;
}

.genres input[type="checkbox"], .plateformes input[type="checkbox"] {
    display:none;
}

.genres input[type="checkbox"] + label:before, .plateformes input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #0b81b8;
    border-radius: 12px;
    margin-right: 1%;
}

.genres input[type="checkbox"]:checked + label:before, .plateformes input[type="checkbox"]:checked + label:before {
    background: #0b81b8;
}


.tabJeu tbody tr:nth-child(even) {
    background-color: #0b81b8;  /*Vert*/
}

.tabJeu tbody tr:nth-child(odd) {
    background-color: #0b81b8;  /*Vert*/
}

.pDescription textarea {
    resize: vertical;
    color: #FFFFFF; /*Vert*/
    background-color: #0b81b8;  /*Vert*/
    border-color: #FFFFFF;
}

.pDescription textarea:hover {
    resize: vertical;
    color: #FFFFFF; /*Vert*/
    background-color: #0b81b8;  /*Vert*/
    border-color: #FFFFFF;
}

.modifierJeu {    
    color: #FFFFFF; /*Vert*/
    background-color: #0b81b8;  /*Vert*/
    border: solid 1px #FFFFFF;  /*Vert*/
    border-radius: 2px;
}

.modifierJeu:hover {    
    color: #FFFFFF; /*Vert*/
    background-color: #0b81b8;  /*Vert*/
    border: solid 1px #FFFFFF;  /*Vert*/
    border-radius: 2px;
}

.cacherOptionsJeu {
    display: none;
}

.tabJeu tbody tr:nth-child(even) {
    background-color: #0b81b8;  /*Vert*/
}

.tabJeu tbody tr:nth-child(odd) {
    background-color: #0b81b8;  /*Vert*/
}

#boutonAjouterLeJeu, .boutonModifierLeJeu, .boutonSupprimerLeJeu {
    margin: 1%;
    font-size: medium;
}

/* Fonctionne pour color mais pas pour background-color*/
.affichageModif {
    background-color: red;
}

/*Supprimer jeu*/
.supprimerJeu {
    color: #FFFFFF; /*Vert*/
    background-color: #0b81b8;  /*Vert*/
    border: solid 1px #FFFFFF;  /*Vert*/
    border-radius: 2px;
}

.supprimerJeu:hover {
    color: #FFFFFF; /*Vert*/
    background-color: #0b81b8;  /*Vert*/
    border: solid 1px #FFFFFF;  /*Vert*/
    border-radius: 2px;
}

/* FENETRE CONFIRMATION SUPPRESSION JEU */
#fenetreDemandeSuppressionJeu {
    display: none;
    z-index: 1;
    position: absolute;
    /*
    width: calc(100vw - 100px);
    height: calc(100vh + 150px);
    top: -125px;
    left: 10px;
    */
    width: calc(100vw * 0.7);
    height: 400px;
    top: calc((100vh / 2) - 300px);
    left: calc((100vw * 0.3) / 2 - 50px);

    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 50px;
}

#fenetreDemandeSuppressionJeu h3 {
    color: #000000;
    font-size: large;
    margin-bottom: 100px;
}

#boutonFenetreSupprNon, #boutonFenetreSupprOui {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

#boutonFenetreSupprNon {
    margin-right: 50px;
    background-color: #FF0000CC;
}

#boutonFenetreSupprOui {
    margin-left: 50px;
    background-color: #00FF00CC;
}
