.gauche, .droite {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-top: none;
    border-bottom: none;
    width: 10%;
    height: 100%;
    margin-top: -40px;
}

main {
    position: relative;
}

.gauche {
    float: left;
    border-right: solid 1px #FFFFFF;    /*Vert*/
    border-bottom: solid 1px #FFFFFF;    /*Vert*/
    background-color: #190c63;  /*Vert*/
}

.milieu {
    float: left;
}

.droite {
    float: left;
    border-left: solid 1px #FFFFFF;    /*Vert*/
    border-bottom: solid 1px #FFFFFF;    /*Vert*/
    background-color: #190c63;  /*Vert*/
}

/* AFFICHAGE DES JEUX*/
.listeJeuxExemple {
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;

    margin-top: 3%;
    margin-bottom: 3%;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

    overflow: auto;
}

.titreJeuxExemple {
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.tabJeuMini {
    border-collapse: collapse;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tabJeuMini:hover {
    background-color: #0e9cdd;
}

.tabJeuMini tr, .tabJeuMini td {
    border: solid 1px #FFFFFF;
}

.tabJeuMini p {
    color: #FFFFFF;
    text-decoration: none;
}

.jeuExemple {
    width: 80%;
    margin: 5%;
    background-color: #0092ec;  /*Vert*/
}

.imageJeuExemple {
    width: 100%;
    height: auto;
}

/*
.milieu fieldset {
    width: 80%;
    border-radius: 30px;
    text-align: center;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}
