.gauche, .droite {    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 1px black;
    width: 10%;
    height: 100%;
}

.gauche {
    float: left;
    margin-left: 0px;
}

.droite {
    float: right;
    margin-right: 0px;
}

.milieu {
    display: inline-block;
    width: 70%;
    padding-left: 5%;
    padding-right: 5%;
}

/***************************/
/* Pour l'affichage du jeux et des infos */

.divImageJeuChoisi {
    width: 20%;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: solid 1px #000000;
}

.imageJeuChoisi {
    width: 100%;
    height: 100%;
}

.infoJeuChoisi {
    position: absolute;
    margin-left: 15%;
}

.intituleJeuChoisi {
    text-decoration: underline;
    font-weight: bold;
}

/*********************/
.menuHautRecherche {
    z-index: 1;
    background-color: #dbdbdb;
    width: 100%;
    margin: 0px auto 40px auto;
}

.menuHautRecherche nav ul{
    list-style-type: none;
}

.menuHautRecherche nav li{
    float: left;
    width: 50%;
    text-align: center;
}

/*Evite que le menu n'ait une hauteur nulle*/
.menuHautRecherche nav ul::after{
    content: "";
    display: table;
    clear: both;
}

.menuHautRecherche nav a{
    display: block; /*Toute la surface sera cliquable*/
    text-decoration: none;
    color: #000000;
    border-bottom: 2px solid transparent;   /*Evite le décalage des éléments sous le menu à cause de la bordure en :hover*/
    padding: 10px 0px;  /*Agrandit le menu et espace la bordure du texte*/
}

.menuHautRecherche nav a:hover{
    color: #FFFFFF;
    border-bottom: 2px solid #000000;
}